@import "abstracts/function";
@import "abstracts/mixin";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilties";

@import "pages/home";



.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out forwards;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.55rem;
        animation: moveInRight 1s ease-out forwards;
    
    }
}

.btn{
    &--white{
        background-color: #fff;
        color:$color-grey-dark;

        &:after{
            background-color: $color-white;
            opacity: 1;
        }
    }
    &--animated{
        animation: moveInTop .5s ease-out .75s backwards ;
    }
    &:link,
    &:visited{
        text-decoration: none;
        padding: 1.6rem 4rem;
        border-radius: 10rem;
        text-transform: uppercase;
        display: inline-block;
        transition:all .2s;
        position: relative;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

        &:after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
    &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        transition: all .4s;
    }

}
