/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark:#28b485;

$color-grey-dark:#777;
$color-white:#fff;


/*
 Grid
*/
$grid-width:140rem;
$gutter-vertical: 6rem;
$gutter-horizon: 2rem;