.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    
    &__side{
        height: 50rem;
        background-color: orangered;
        color: #fff;
        font-size: 1.6rem;

        transition: all .8s;

        &--front{
            background-color: orangered;
        }

        &--back{
            background-color: green;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side{
        transform:rotateY(180deg);

        &--back{
            // transform: rotateY(0);
        }
    }
}