.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side{
        height: 50rem;
        background-color: orangered;
        color: #fff;
        font-size: 1.6rem;
        text-align: left;

        transition: all .8s;

        &--front{
            background-color: orangered;
        }

        &--back{
            background-color: green;
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0;
        }
    }

    &:hover &__side{

        &--front{
            opacity: 0;
            transform:rotateY(180deg);
        }

        &--back{
            transform: rotateY(0);
            opacity: 1;
        }
    }
}