.navigation{
    &__checkbox{

    }

    &__button{

    }

    &__background{
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 6.5rem;
        left: 6.5rem;
        background-image: linear-gradient($primary-color-light, $primary-color-dark);;
    }

    &__nav{

    }

    &__list{

    }

    &__item{

    }

    &__link{

    }
}